<div>
    <h2 data-translate="test0403JsApp.teacher.home.title">Teachers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="teacher.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="test0403JsApp.teacher.home.createLabel">
                        Create new Teacher
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'test0403JsApp.teacher.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="test0403JsApp.teacher.tname">Tname</span></th>
                    <th><span data-translate="test0403JsApp.teacher.sex">Sex</span></th>
                    <th><span data-translate="test0403JsApp.teacher.age">Age</span></th>
                    <th><span data-translate="test0403JsApp.teacher.student1">Student 1</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="teacher in vm.teachers track by teacher.id">
                    <td><a ui-sref="teacher-detail({id:teacher.id})">{{teacher.id}}</a></td>
                    <td>{{teacher.tname}}</td>
                    <td>{{teacher.sex}}</td>
                    <td>{{teacher.age}}</td>
                    <td>
                        <span ng-repeat="student1 in teacher.student1S">
                            <a class="form-control-static" ui-sref="student-detail({id: student1.id})">{{student1.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="teacher-detail({id:teacher.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="teacher.edit({id:teacher.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="teacher.delete({id:teacher.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
